<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<span class="base-button fancy-button">Click me!</span>
<span class="base-button scary-button">Delete!</span>

<style>

  /* Write your CSS here to make the span look like a button. */


  .base-button {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;

  box-shadow: 2px -1px 66px 39px rgba(0,0,0,0.33) inset;
  -webkit-box-shadow: 2px -1px 66x 39px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px -1px 66x 39px rgba(0,0,0,0.33);
  }

  .fancy-button {
  background-color: blue;
  }

  .fancy-button:hover {
    background-color: darkblue;
  }

  .scary-button {
  background-color: red;
  }

   .scary-button:hover {
    background-color: darkred;
  }

</style>

<p>
  <a>Primary</a>
</p>

<p>
  <a>Secondary</a>
</p>

<p>
  <a>Success</a>
</p>

<p>
  <a>Danger</a>
</p>

<p>
  <a>Warning</a>
</p>

<p>
  <a>Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a>Primary (unobtrusive)</a>
</p>

<p>
  <a>Secondary (unobtrusive)</a>
</p>

<p>
  <a>Success (unobtrusive)</a>
</p>

<p>
  <a>Danger (unobtrusive)</a>
</p>

<p>
  <a>Warning (unobtrusive)</a>
</p>

<p>
  <a>Info (unobtrusive)</a>
</p>

<a class="btn btn-primary">Primary</a>
<a class="btn btn-secondary">Secondary</a>
<a class="btn btn-success">Success</a>
<a class="btn btn-danger">Danger</a>
<a class="btn btn-warning">Warning</a>
<a class="btn btn-info">Info</a>
<a class="btn btn-outline-primary">Primary (unobtrusive)</a>
<a class="btn btn-outline-secondary">Secondary (unobtrusive)</a>
<a class="btn btn-outline-success">Success (unobtrusive)</a>
<a class="btn btn-outline-danger">Danger (unobtrusive)</a>
<a class="btn btn-outline-warning">Warning (unobtrusive)</a>
<a class="btn btn-outline-info">Info (unobtrusive)</a>
